@use "../variables/color";

.search_result_popover {
  max-height: 50rem;
  height: fit-content;
  width: 100%;
}

.search_result_popover_title {
  // border-bottom: 1px solid #e8eef7;
  display: none;
}

.search_result_popover_title p {
  margin: 0;
  padding-bottom: 5px;
}

.search_result_popover_content {
  max-height: 60rem;
  width: 46rem;
  padding: 0rem 0rem 1rem 0rem;
}

.search_result_popover_content .ant-tabs-nav-list .ant-tabs-tab {
  padding: 0 0 0.4rem 0;
}

.search_result_popover_content .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin-left: 1rem;
}

.search_result_popover_content .ant-tabs-tab-btn {
  font-weight: 600;
  color: var(--color-black-brown);
}

.search_found:hover {
  background-color: #c6e4ff;
  padding: 1rem;
  cursor: pointer;
}

.search-result-title {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--color-black-brown);
}

.header-search-result-content {
  .first-column {
    padding: 0 10px 0 0;
    border-right: 1px solid var(--color-black-gray);
  }
  .second-column {
    max-height: 35rem;
    height: fit-content;
    overflow-y: auto;
    padding: 0 0 0 10px;
  }
}

/* Desktop: 1025px trở lên */
@media (min-width: 1537px) {
  .search_result_popover_content {
    max-height: 50rem;
    width: 55rem;
    padding: 0rem 1rem 1rem 0rem;
  }
}

.search-result-list {
  .ant-list-item {
    padding-left: 1rem;
    transition: all 0.3s ease;
  }
  .ant-list-item:hover {
    background-color: var(--color-black-gray-light);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.info_popover_content {
  width: 20rem;
}

.info_popover {
  .ant-popover-inner-content {
    padding: 0;
  }
}

.info_popover_title {
  .ant-tag {
    margin-right: 0.5rem;
  }
}
