@use "../variables/color" as *;

.resizable-table .react-resizable {
  position: relative;
  background-clip: padding-box;
}

.resizable-table .react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.resizable-table .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #f0f0f0;
  transition: background-color 0.2s;
}

.resizable-table .react-resizable-handle:hover::after {
  background-color: #1890ff;
}

/* Disable resize for fixed columns */
.resizable-table .ant-table-cell-fix-left .react-resizable-handle,
.resizable-table .ant-table-cell-fix-right .react-resizable-handle {
  display: none;
}

/* Add styles for the drag handle */
.resizable-table .ant-table-row .drag-handle {
  cursor: move;
  color: #999;
  transition: color 0.2s;
}

.resizable-table .ant-table-row:hover .drag-handle {
  color: #1890ff;
}

.resizable-table {
  .ant-table-tbody > tr {
    .drag-handle-button {
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover {
      .drag-handle-button {
        opacity: 1;
      }
    }
  }
}

// .resizable-table{
//   max-height: 500px;
//   overflow-y: auto;
// }

.ant-table-thead > tr > th {
  background-color: var(--color-bg-table-header) !important;
  color: var(--color-black-brown) !important;
  font-weight: 600 !important;
  font-size: 0.85rem !important;
  margin: 2px;
  padding: 8px 16px;
}

.ant-table-tbody > tr > td {
  color: var(--color-table-body-text) !important;
  border: 0.5px solid var(--color-table-header-border) !important;
  border-radius: 2px;
  margin: 2px;
  padding: 8px 16px;
}

.ant-table-tbody > tr:nth-child(odd) > td {
  background-color: var(--color-bg-table-body);
}

.ant-table-tbody > tr:hover > td {
  background-color: var(--color-bg-table-body-hover) !important;
}

.ant-table-thead > tr > th::before {
  display: none;
}

.ant-table {
  border-spacing: 2px;
  border-collapse: separate;
}
