.paragraph-normal-style {
  margin: 0;
  font-weight: 400;
  color: var(--color-black-brown);
}

.paragraph-normal-style-small {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-black-brown);
}

.paragraph-no-style {
  margin: 0;
  font-weight: 400;
}

.paragraph-bold-style {
  margin: 0;
  font-weight: 600;
  color: var(--color-black-brown);
}


.paragraph-bold-no-style{
  margin: 0;
  font-weight: 600;
  margin: 0;
}

.paragraph-bold-style-2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-black-brown);
  margin-bottom: 20px;
}

.paragraph-normal-white-style {
  margin: 0;
  font-weight: 400;
  color: var(--color-white);
}

.paragraph-bold-blue-style {
  margin: 0;
  font-weight: 600;
  color: var(--color-link-active);
}

.action-bold-style {
  margin: 0;
  font-weight: 600;
  color: var(--color-link-active);
}

.action-bold-style:hover {
  cursor: pointer;
  text-decoration: underline;
}

.description-normal-style {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-black-brown);
}

.description-italic-style {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-body);
  font-style: italic;
}

.ticket-detail-description {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 8px;
  margin: 15px 0;
}

.description-italic-style-2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-black-brown);
  font-style: italic;
  line-height: 1.6;
  padding: 10px 0;
  border-left: 3px solid var(--color-link-active);
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 0 4px 4px 0;
  // width: fit-content;
  span:nth-child(1) {
    margin-right: 1rem;
  }
  span:nth-child(3) {
    margin-left: 1rem;
  }
}

.description-italic-style-3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-body);
  font-style: italic;
}

.sidebar-sub-text {
  margin: 0 20px;
  font-size: 0.8rem;
  color: var(--color-body);
}

.title-small {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-black-brown);
  margin: 0;
}

.title-large {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-black-brown);
  margin: 0;
}
