.paragraph-normal-style {
  margin: 0;
  font-weight: 400;
  color: var(--color-black-brown);
}

.paragraph-no-style {
  margin: 0;
  font-weight: 400;
}

.paragraph-bold-style {
  margin: 0;
  font-weight: 600;
  color: var(--color-black-brown);
}

.paragraph-bold-blue-style {
  margin: 0;
  font-weight: 600;
  color: var(--color-link-active);
}

.action-bold-style {
  margin: 0;
  font-weight: 600;
  color: var(--color-link-active);
}

.action-bold-style:hover {
  cursor: pointer;
  text-decoration: underline;
}

.description-normal-style {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-black-brown);
}

.description-italic-style {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-body);
  font-style: italic;
}

.sidebar-sub-text {
  margin: 0 20px;
  font-size: 0.8rem;
  color: var(--color-body);
}

.title-small{
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-black-brown);
  margin: 0;
}

.title-large{
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-black-brown);
  margin: 0;
}


