@use "../variables/color";
@use "../variables/flex-box";
header {
  border-block-end: 1px solid var(--color-black-gray);
}

.header-container {
  height: 48px;
  width: 100% !important;
  margin: 0;

  .header-left div {
    @include flex-box.flex-justify-start;
    gap: 10px;
  }

  .header-center div {
    @include flex-box.flex-align-center;
    gap: 10px;
  }

  .header-right div {
    @include flex-box.flex-justify-end;
    gap: 10px;
  }

  .header-logo {
    @include flex-box.flex-align-center;
    gap: 1px;
  }

  .header-logo img {
    border-radius: 6px;
  }

  .header-logo p {
    margin: 0;
    font-weight: 600;
  }

  .header-create-ticket {
    @include flex-box.flex-align-center;
    gap: 5px;
    padding: 8px 10px;
    color: var(--color-white);
    background-color: var(--color-link-active);
    font-weight: 600;
    border-style: none;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  .header-create-ticket svg {
    font-size: 1.2rem;
  }

  .header-create-ticket:hover {
    cursor: pointer;
    background-color: var(--color-link-active);
  }

  .header-icon {
    @include flex-box.flex-align-center;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: var(--color-white-gray);
    }
    &:active {
      border: 2px solid var(--color-link-active);
    }
    &:focus {
      border: 2px solid var(--color-link-active);
    }
  }

  .header-avatar {
    @include flex-box.flex-center;
    padding: 5px;
  }

  .header-avatar p {
    font-size: 0.8rem;
    @include flex-box.flex-center;
    text-align: center;
    height: 20px;
    width: 20px;
    padding: 15px;
    color: var(--color-white);
    background-color: #de350b;
    border-radius: 50%;
    margin-bottom: 0;
  }

  .header-avatar:hover {
    cursor: pointer;
    background-color: var(--color-white-gray);
    border-radius: 50%;
  }

  .header-search-icon {
    color: var(--color-placeholder);
    @include flex-box.flex-center;
    margin-left: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    z-index: 2;
  }

  .header-input-search {
    position: relative;
    height: 35px;
    padding: 0 30px;
    border: 1px solid var(--color-placeholder);
    border-radius: 4px;
    width: 100%;
    z-index: 1;
  }

  .header-input-search:focus {
    outline: none;
    border: 2px solid #2c75da;
  }
  .header-input-search::placeholder {
    color: #959595;
  }

  .header-search-button {
    padding: 5px 8px !important;
    margin: 0;
  }
}

/* Desktop: 1025px trở lên */
@media (min-width: 1025px) {
  .header-container {
    height: 60px;
  }
}
