@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-justify-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-justify-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@mixin inline-block {
  display: inline-block;
}
